.flex-container {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item {
  width: 10%;
  height: 30px;
  background-color: gray;
  margin: 5px;
}

.flex-con {
  height: 30px;
  background-color: crimson;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
