.container {
  display: flex;
  padding: 5px;
  margin: auto;
  justify-content: space-around;
}

.active-box {
  height: 80px;
  width: 200px;
  margin: 5px;
  display: flex;
  background-color: aqua;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 300px;
  }
}
